.navbar {
    background-color: hsl(186, 29%, 93%);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-left {
    display: flex;
    align-items: center;
  }
  
  .navbar-logo {
    display: flex; /* Use flexbox for alignment */
    align-items: center; /* Vertically center the image */
    margin-right: 20px;
  }
  
  .navbar-logo img {
    height: 50px; /* Adjust the height as needed */
    width: auto; /* Maintain aspect ratio */
    /* Add any additional styles for the image itself */
  }
  .navbar-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .navbar-links li {
    margin-right: 15px;
  }
  
  .navbar-link {
    text-decoration: none;
    color: #333;
  }
  
  .navbar-right {
    position: relative;
  }
  
  .navbar-signin-button {
    padding: 10px 20px;
    background-color: #64e619;
    color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer;
  }
  
  .navbar-dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    z-index: 1;
  }
  
  .dropdown-link {
    display: block;
    padding: 4px 8px;
    text-decoration: none;
    color: black;
  }
